/* ----------------------------------------*\
  BASE
\*---------------------------------------- */

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background-color: $color-white;
  color: $color-black;
}
