/* ----------------------------------------*\
  BASE
\*---------------------------------------- */

html,
body {
  height: 100%;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  color: $color-black;
  background-color: $color-white;
}

body {
  height: 100%;
}
