/* ----------------------------------------*\
  ELEMENTS
\*---------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0 1.05em;
  line-height: 1.15;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
}

a {
  color: $color-primary;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $color-primary-action;
  }
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

dt {
  font-weight: $font-bold;
}

code {
  background-color: $color-gray-100;
  color: $color-primary;
  font-size: text-sm;
  font-weight: font-regular;
  padding: size(1) size(2);
  border-radius: $rounded;
}

th,
td {
  padding: size(2) size(3);
  border-width: 1px;
  vertical-align: top;
}
