/* ----------------------------------------*\
  CONTAINER
\*---------------------------------------- */

.container {
  padding-left: size(4);
  padding-right: size(4);
  max-width: $max-w-6xl;
  margin-left: auto;
  margin-right: auto;
}
