/* ----------------------------------------*\
  CONTAINER
\*---------------------------------------- */

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
