/* ----------------------------------------*\
  SITE MASTER
\*---------------------------------------- */

.master {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.master__content {
  flex: 1 0 auto;
}

.master__footer {
  flex-shrink: 0;
}
