/* ----------------------------------------*\
  COLOR
\*---------------------------------------- */

.text-white {
  color: $color-white;
}

.text-black {
  color: $color-black;
}

.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

/**
* Background
*/
.bg-white {
  background-color: $color-white;
}

.bg-black {
  background-color: $color-black;
}

.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

/**
* Border
*/
.border-white {
  border-color: $color-white;
}

.border-black {
  border-color: $color-black;
}

.border-primary {
  border-color: $color-primary;
}

.border-secondary {
  border-color: $color-secondary;
}
