/* ----------------------------------------*\
  COLOR
\*---------------------------------------- */

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

/**
* Background
*/
.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/**
* Border
*/
.border-white {
  border-color: var(--color-white);
}

.border-black {
  border-color: var(--color-black);
}

.border-primary {
  border-color: var(--color-primary);
}

.border-secondary {
  border-color: var(--color-secondary);
}
