/* ----------------------------------------*\
  DISPLAY
\*---------------------------------------- */

$displays: (
  block: block,
  hidden: none,
  flex: flex,
  grid: grid,
  inline: inline,
  inline-flex: inline-flex,
  inline-block: inline-block
);

@each $d-name, $d-value in $displays {
  .#{$d-name} {
    display: $d-value;
  }
}

@each $b-name, $b-value in $breakpoints {
  @include screen($b-name) {
    @each $d-name, $d-value in $displays {
      .#{$b-name}\:#{$d-name} {
        display: $d-value;
      }
    }
  }
}
