/* ----------------------------------------*\
  Align Item
\*---------------------------------------- */

$items: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch,
  baseline: baseline,
);

@each $items-name, $items-value in $items {
  .items-#{$items-name} {
    align-items: $items-value;
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    @each $items-name, $items-value in $items {
      .#{$breakpoint-name}\:items-#{$items-name} {
        align-items: $items-value;
      }
    }
  }
}
