/* ----------------------------------------*\
  Justify content
\*---------------------------------------- */

$flex-justify: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

@each $j-name, $j-value in $flex-justify {
  .justify-#{$j-name} {
    justify-content: $j-value;
  }
}

@each $b-name, $b-value in $breakpoints {
  @include screen($b-name) {
    @each $j-name, $j-value in $flex-justify {
      .#{$b-name}\:justify-#{$j-name} {
        justify-content: $j-value;
      }
    }
  }
}
