/* ----------------------------------------*\
  FONT WEIGHT
\*---------------------------------------- */

.font-light {
  font-weight: $font-light;
}

.font-regular {
  font-weight: $font-regular;
}

.font-medium {
  font-weight: $font-medium;
}

.font-bold {
  font-weight: $font-bold;
}
