/* ----------------------------------------*\
  GRID COLS
\*---------------------------------------- */

$grid-columns: (1, 2, 3, 4);

@each $c in $grid-columns {
  .grid-cols-#{$c} {
    grid-template-columns: repeat($c, minmax(0, 1fr));
  }
}

@each $b-name, $b-value in $breakpoints {
  @include screen($b-name) {
    @each $c in $grid-columns {
      .#{$b-name}\:grid-cols-#{$c} {
        grid-template-columns: repeat($c, minmax(0, 1fr));
      }
    }
  }
}
