/* ----------------------------------------*\
  MARGIN
\*---------------------------------------- */

@each $space-name, $space-value in map-get($tokens, space) {
  $name: str_slice($space-name, 7);

  .m-#{$name} {
    margin: $space-value;
  }

  .mt-#{$name} {
    margin-top: $space-value;
  }

  .mb-#{$name} {
    margin-bottom: $space-value;
  }

  .mr-#{$name} {
    margin-right: $space-value;
  }

  .ml-#{$name} {
    margin-left: $space-value;
  }

  .mx-#{$name} {
    margin-inline: $space-value;
  }

  .my-#{$name} {
    margin-block: $space-value;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-inline: auto;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    .#{$breakpoint-name}\:ml-auto {
      margin-left: auto;
    }

    .#{$breakpoint-name}\:mr-auto {
      margin-right: auto;
    }

    .#{$breakpoint-name}\:mx-auto {
      margin-inline: auto;
    }

    @each $name, $space-value in map-get($tokens, space) {
      $name: str_slice($name, 7);

      .#{$breakpoint-name}\:m-#{$name} {
        margin: $space-value;
      }

      .#{$breakpoint-name}\:mt-#{$name} {
        margin-top: $space-value;
      }

      .#{$breakpoint-name}\:mb-#{$name} {
        margin-bottom: $space-value;
      }

      .#{$breakpoint-name}\:mr-#{$name} {
        margin-right: $space-value;
      }

      .#{$breakpoint-name}\:ml-#{$name} {
        margin-left: $space-value;
      }

      .#{$breakpoint-name}\:mx-#{$name} {
        margin-inline: $space-value;
      }

      .#{$breakpoint-name}\:my-#{$name} {
        margin-block: $space-value;
      }
    }
  }
}
