/* ----------------------------------------*\
  PADDING
\*---------------------------------------- */

@each $space-name, $space-value in map-get($tokens, space) {
  $name: str_slice($space-name, 7);

  .p-#{$name} {
    padding: $space-value;
  }

  .pt-#{$name} {
    padding-top: $space-value;
  }

  .pb-#{$name} {
    padding-bottom: $space-value;
  }

  .pr-#{$name} {
    padding-right: $space-value;
  }

  .pl-#{$name} {
    padding-left: $space-value;
  }

  .px-#{$name} {
    padding-inline: $space-value;
  }

  .py-#{$name} {
    padding-block: $space-value;
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    @each $space-name, $space-value in map-get($tokens, space) {
      $name: str_slice($space-name, 7);

      .#{$breakpoint-name}\:p-#{$name} {
        padding: $space-value;
      }

      .#{$breakpoint-name}\:pt-#{$name} {
        padding-top: $space-value;
      }

      .#{$breakpoint-name}\:pb-#{$name} {
        padding-bottom: $space-value;
      }

      .#{$breakpoint-name}\:pr-#{$name} {
        padding-right: $space-value;
      }

      .#{$breakpoint-name}\:pl-#{$name} {
        padding-left: $space-value;
      }

      .#{$breakpoint-name}\:px-#{$name} {
        padding-inline: $space-value;
      }

      .#{$breakpoint-name}\:py-#{$name} {
        padding-block: $space-value;
      }
    }
  }
}
