/* ----------------------------------------*\
  ICON
\*---------------------------------------- */

.icon {
  width: $space-5;
  aspect-ratio: 1 / 1;
}

.icon--small {
  width: $space-4;
}

.icon--large {
  width: $space-6;
}
