/* ----------------------------------------*\
  LIST
\*---------------------------------------- */

.list-reset,
%list-reset {
  padding-left: 0;
  list-style-type: none;
}

.list,
%list {
  @extend %list-reset;

  --space-block: #{$space-2};
  --border-block: 0;

  > li {
    padding-block: var(--space-block);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    & + li {
      border-top-width: var(--border-block);
    }
  }
}

.list--tiny {
  --space-block: 0
}

.list--small {
  --space-block: #{$space-1};
}

.list--large {
  --space-block: #{$space-4};
}

.list--divided {
  --border-block: 1px;
}

.list--divided-none {
  --border-block: 0;
}


/* ----------------------------------------*\
  LIST DASH
\*---------------------------------------- */

.list-dash li {
  display: flex;

  &::before {
    content: '\2014';
    display: block;
    margin-right: $space-4;
  }
}
