/* ----------------------------------------*\
  COLOR
\*---------------------------------------- */


/**
* Border
*/
.border-white {
  border-color: $color-white;
}

.border-black {
  border-color: $color-black;
}

.border-primary {
  border-color: $color-primary;
}

.border-secondary {
  border-color: $color-secondary;
}
