/* ----------------------------------------*\
  JUSTIFY CONTENT
\*---------------------------------------- */

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    .#{$breakpoint-name}\:justify-start {
      justify-content: flex-start;
    }

    .#{$breakpoint-name}\:justify-center {
      justify-content: center;
    }

    .#{$breakpoint-name}\:justify-end {
      justify-content: flex-end;
    }

    .#{$breakpoint-name}\:justify-between {
      justify-content: space-between;
    }

    .#{$breakpoint-name}\:justify-around {
      justify-content: space-around;
    }
  }
}
