/* ----------------------------------------*\
  GRID ROW
\*---------------------------------------- */

.row-auto {
  grid-row: auto;
}

.row-span-1 {
  grid-row: span 1 / span 1;
}

.row-span-2 {
  grid-row: span 2 / span 2;
}

.row-span-3 {
  grid-row: span 3 / span 3;
}

/**
 * row-start
 */
.row-start-1 {
  grid-row-start: 1;
}

.row-start-2 {
  grid-row-start: 2;
}

.row-start-3 {
  grid-row-start: 3;
}

.row-start-auto {
  grid-row-start: auto;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    .#{$breakpoint-name}\:row-auto {
      grid-row: auto;
    }

    .#{$breakpoint-name}\:row-span-1 {
      grid-row: span 1 / span 1;
    }

    .#{$breakpoint-name}\:row-span-2 {
      grid-row: span 2 / span 2;
    }

    .#{$breakpoint-name}\:row-span-3 {
      grid-row: span 3 / span 3;
    }

    .#{$breakpoint-name}\:row-start-1 {
      grid-row-start: 1;
    }

    .#{$breakpoint-name}\:row-start-2 {
      grid-row-start: 2;
    }

    .#{$breakpoint-name}\:row-start-3 {
      grid-row-start: 3;
    }

    .#{$breakpoint-name}\:row-start-auto {
      grid-row-start: auto;
    }
  }
}
