/* ----------------------------------------*\
  HEIGHT
\*---------------------------------------- */

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    .#{$breakpoint-name}\:h-full {
      height: 100%;
    }

    .#{$breakpoint-name}\:h-screen {
      height: 100vh;
    }
  }
}
