/* ----------------------------------------*\
  PADDING
\*---------------------------------------- */

@each $space-name, $space-value in $spaces {
  .p-#{$space-name} {
    padding: $space-value;
  }

  .pt-#{$space-name} {
    padding-top: $space-value;
  }

  .pb-#{$space-name} {
    padding-bottom: $space-value;
  }

  .pr-#{$space-name} {
    padding-right: $space-value;
  }

  .pl-#{$space-name} {
    padding-left: $space-value;
  }

  .px-#{$space-name} {
    padding-left: $space-value;
    padding-right: $space-value;
  }

  .py-#{$space-name} {
    padding-top: $space-value;
    padding-bottom: $space-value;
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include screen($breakpoint-name) {
    @each $space-name, $space-value in $spaces {
      .#{$breakpoint-name}\:p-#{$space-name} {
        padding: $space-value;
      }

      .#{$breakpoint-name}\:pt-#{$space-name} {
        padding-top: $space-value;
      }

      .#{$breakpoint-name}\:pb-#{$space-name} {
        padding-bottom: $space-value;
      }

      .#{$breakpoint-name}\:pr-#{$space-name} {
        padding-right: $space-value;
      }

      .#{$breakpoint-name}\:pl-#{$space-name} {
        padding-left: $space-value;
      }

      .#{$breakpoint-name}\:px-#{$space-name} {
        padding-left: $space-value;
        padding-right: $space-value;
      }

      .#{$breakpoint-name}\:py-#{$space-name} {
        padding-top: $space-value;
        padding-bottom: $space-value;
      }
    }
  }
}
