/* ----------------------------------------*\
  TEXT ALIGN
\*---------------------------------------- */

@each $breakpoint-name in $breakpoints {
  .#{$breakpoint-name}text-left {
    text-align: left;
  }

  .#{$breakpoint-name}text-center {
    text-align: center;
  }

  .#{$breakpoint-name}text-right {
    text-align: right;
  }
}
