/* ----------------------------------------*\
  TEXT DECORATION
\*---------------------------------------- */

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}
