/* ----------------------------------------*\
  HEADER
\*---------------------------------------- */

.header {
  padding-top: $space-6;
  padding-bottom: $space-6;
  color: $color-white;
  background-color: $color-primary;
}

.header__title {
  @include text-h4;
}
