/* ----------------------------------------*\
  MIXINS
\*---------------------------------------- */

/**
 * Screen
 */
@mixin screen($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: #{map-get($breakpoints, $name)}) {
      @content;
    }
  } @else {
    @error 'There is no breakpoint called #{$name}';
  }
}

/**
 * Truncate
 */
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 * Visually hidden
 */
@mixin visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/**
* Focus
*/
@mixin focus($color: currentColor) {
  outline: dotted 3px $color;
}

@mixin disabled {
  background-color: $color-gray-100;
  border-color: $color-gray-150;
  cursor: not-allowed;
}

/**
 * Placeholder color
 */
@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &:-moz-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }
}

/**
* Typography
*/

@mixin text-heading {
  font-weight: $font-bold;
  line-height: $leading-small;
}

@mixin text-h1 {
  @include text-heading;
  font-size: $text-5xl;
}

@mixin text-h2 {
  @include text-heading;
  font-size: $text-4xl;
}

@mixin text-h3 {
  @include text-heading;
  font-size: $text-3xl;
}

@mixin text-h4 {
  @include text-heading;
  font-size: $text-2xl;
}

@mixin text-h5 {
  @include text-heading;
  font-size: $text-xl;
}

@mixin text-h6 {
  @include text-heading;
  font-size: $text-lg;
}

@mixin text-base {
  font-size: $text-base;
  line-height: $leading-normal;
}
