/* ----------------------------------------*\
  MIXINS
\*---------------------------------------- */

/**
* SCREEN
*/
@mixin screen($name) {
  @if map-has-key($breakpoints, $name) {
    @media (min-width: #{map-get($breakpoints, $name)}) {
      @content;
    }
  } @else {
    @error "There is no breakpoint called #{$name}";
  }
}

/**
* TRUNCATE
*/
@mixin truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
