/* ----------------------------------------*\
  SITE HEADER
\*---------------------------------------- */

.site-header {
  padding-top: $space-6;
  padding-bottom: $space-6;
  color: $color-white;
  background-color: var(--color-primary);
}

.site-header__title {
  @include text-h4;
}
