/* ----------------------------------------*\
  FOOTER
\*---------------------------------------- */

.site-footer {
  padding-top: size(4);
  padding-bottom: size(4);
  border-top: 1px solid $color-border;
}
