/* ----------------------------------------*\
  SITE HEADER
\*---------------------------------------- */

.site-header {
  padding-top: var(--space-6);
  padding-bottom: var(--space-6);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.site-header__title {
  margin: 0;
  font-size: 1.4rem;
}
