/* ----------------------------------------*\
  Color mapping
\*---------------------------------------- */

:root {
  --color-primary: var(--color-blue-500);
  --color-primary-action: var(--color-blue-800);
  --color-secondary: var(--color-orange-500);
  --color-secondary-action: var(--color-orange-800);
  --color-text: var(--color-gray-900);
  --color-border: var(--color-gray-400);
}
