/* ----------------------------------------*\
  SETTINGS
\*---------------------------------------- */

@charset "UTF-8";

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$spaces: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  48: 12rem,
  64: 16rem,
);

/**
 * Border radius
 */
$rounded-none: 0;
$rounded-sm: 0.125rem;
$rounded: 0.25rem;
$rounded-md: 0.375rem;
$rounded-lg: 0.5rem;

/**
 * Color scale
 */
$color-black: #000;
$color-white: #fff;

$color-gray-100: #f5f5f5;
$color-gray-200: #eee;
$color-gray-300: #e0e0e0;
$color-gray-400: #bdbdbd;
$color-gray-500: #9e9e9e;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$color-blue-500: #4299e1;
$color-blue-800: #2c5282;

$color-primary: $color-blue-500;
$color-primary-action: $color-blue-800;

$color-text: $color-gray-900;
$color-border: $color-gray-400;

/**
* Typography
*/
$font-base: 16px;
$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$leading-none: 0;
$leading-tight: 1.25;
$leading-snug: 1.375;
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;

/**
* Max Widths
*/
$max-w-6xl: 72rem;

/**
 * Transitions
 */
$transition-duration-250: 250ms;
$transition-duration-400: 400ms;
$transition-duration-500: 500ms;

/**
* Z-Index
*/
// $z-site-header: 500;
// $z-modal: 800;
