/* ----------------------------------------*\
  SETTINGS
\*---------------------------------------- */

@charset "UTF-8";

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

$grid-columns: (1, 2, 3, 4, auto);

/**
* Typography
*/
$font-base: 16px;
$font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

/**
* Z-Index
*/
// $z-site-header: 500;
// $z-modal: 800;
