/* ----------------------------------------*\
  SETTINGS
\*---------------------------------------- */

@charset "UTF-8";

$border-radius-sm: 0.125rem;
$border-radius-md: 0.25rem;

$color-black: #000;
$color-white: #fff;
$color-primary: #4d19f8;

$transition-duration-250: 250ms;
