/* ----------------------------------------*\
  BTN-RESET
\*---------------------------------------- */

.btn-reset,
%btn-reset {
  padding: 0;
  color: inherit;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}
