/* ----------------------------------------*\
  BUTTON
\*---------------------------------------- */

:root {
  --btn-padding: #{size(3)} #{size(4)};
  --btn-text-size: #{$font-base};
  --btn-text: #{$color-white};
  --btn-bg: #{$color-primary};
  --btn-bg-action: #{$color-primary-action};
}

.btn,
%btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--btn-padding);
  max-width: 100%;

  text-decoration: none;
  text-align: center;
  color: var(--btn-text);
  font-size: var(--btn-text-size);
  line-height: 1;

  background-color: var(--btn-bg);
  border: 1px solid transparent;
  border-radius: $rounded-md;
  vertical-align: middle;
  transition: background-color $duration-250;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--btn-bg-action);
  }

  &.btn--secondary {
    --btn-bg: #{$color-secondary};
    --btn-bg-action: #{$color-secondary-action};
  }

  &.btn--sm {
    --btn-padding: #{size(2)};
    --btn-text-size: #{$text-sm};
  }

  &.btn--lg {
    --btn-padding: #{size(4)} #{size(6)};
    --btn-text-size: #{$text-lg};
  }
}
