/* ----------------------------------------*\
  BUTTON
\*---------------------------------------- */

:root {
  --button-padding: var(--space-3) var(--space-4);
  --button-text-size: #{$font-base};
  --button-text: var(--color-white);
  --button-bg: var(--color-primary);
  --button-bg-action: var(--color-primary-action);
}

.button,
%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  max-width: 100%;

  text-decoration: none;
  text-align: center;
  color: var(--button-text);
  font-size: var(--button-text-size);
  line-height: 1;

  background-color: var(--button-bg);
  border: 1px solid transparent;
  border-radius: $rounded-md;
  vertical-align: middle;
  transition: background-color $duration-250;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-action);
  }

  &.button--secondary {
    --button-bg: var(--color-secondary);
    --button-bg-action: var(--color-secondary-action);
  }

  &.button--small {
    --button-padding: #{size(2)};
    --button-text-size: #{$text-sm};
  }

  &.button--large {
    --button-padding: #{size(4)} #{size(6)};
    --button-text-size: #{$text-lg};
  }
}
