/* ----------------------------------------*\
  BUTTON
\*---------------------------------------- */

:root {
  --button-padding: #{$space-3} #{$space-4};
  --button-text-size: #{$font-base};
  --button-text: #{$color-white};
  --button-text-action: #{$color-white};
  --button-bg: var(--color-primary);
  --button-bg-action: var(--color-primary-action);
}

.button,
%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  max-width: 100%;

  text-decoration: none;
  text-align: center;
  color: var(--button-text);
  font-size: var(--button-text-size);
  font-weight: $font-bold;
  line-height: 1;

  background-color: var(--button-bg);
  border: 1px solid transparent;
  border-radius: $rounded-md;
  vertical-align: middle;
  transition: background-color $duration-250;
  cursor: pointer;
  white-space: nowrap;

  &:disabled {
    color: var(--button-text-disabled);
    background-color: var(--button-bg-disabled);
    box-shadow: none;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    &:hover,
    &:focus {
      color: var(--button-text-action);
      background-color: var(--button-bg-action);
    }
  }

  &.button--secondary {
    --button-bg: var(--color-secondary);
    --button-bg-action: var(--color-secondary-action);
  }

  &.button--small {
    --button-padding: #{$space-2};
    --button-text-size: #{$text-sm};
  }

  &.button--large {
    --button-padding: #{$space-4} #{$space-6};
    --button-text-size: #{$text-lg};
  }
}
