/* ----------------------------------------*\
  BUTTON
\*---------------------------------------- */

:root {
  --button-padding: #{size(3)} #{size(4)};
  --button-text-size: #{$font-base};
  --button-text: #{$color-white};
  --button-bg: #{$color-primary};
  --button-bg-action: #{$color-primary-action};
}

.button,
%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--button-padding);
  max-width: 100%;

  text-decoration: none;
  text-align: center;
  color: var(--button-text);
  font-size: var(--button-text-size);
  line-height: 1;

  background-color: var(--button-bg);
  border: 1px solid transparent;
  border-radius: $rounded-md;
  vertical-align: middle;
  transition: background-color $duration-250;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--button-bg-action);
  }

  &.button--secondary {
    --button-bg: #{$color-secondary};
    --button-bg-action: #{$color-secondary-action};
  }

  &.button--sm {
    --button-padding: #{size(2)};
    --button-text-size: #{$text-sm};
  }

  &.button--lg {
    --button-padding: #{size(4)} #{size(6)};
    --button-text-size: #{$text-lg};
  }
}
