/* ----------------------------------------*\
  FORM INPUT
\*---------------------------------------- */

.form-input {
  @include placeholder-color(var(--color-text));
  padding: var(--space-2) var(--space-3);
  width: 100%;

  line-height: 1.5;
  font-size: $text-base;

  border-width: 1px;
  border-radius: $rounded;
  appearance: none;
  background-color: var(--color-white);
}
