/* ----------------------------------------*\
  Form control
\*---------------------------------------- */

.form-control {
  display: grid;
  align-items: center;
  grid-template-columns: 1em 1fr;
  grid-gap: 0.5em;
}

.form-control__radio,
.form-control__checkbox {
  @include visually-hidden;

  &:focus + .form-control__visual {
    box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.15em var(--color-primary);
  }

  &:checked + .form-control__visual::before {
    transform: none;
  }

  &:disabled + .form-control__visual {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.form-control__visual {
  display: grid;
  place-items: center;
  width: 1em;
  height: 1em;

  border-radius: 50%;
  border-width: 0.15em;
  border-color: currentColor;

  &::before {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.5em;
    transform: scale(0);

    //We use box-shadow instead of a background-color in case this gets printed where background colors are often not printed and therefore the radio state will be missing
    box-shadow: inset 1em 1em var(--color-primary);
    border-radius: 50%;
    transition: transform $duration-150 ease-in-out;
  }
}

.form-control__checkbox + .form-control__visual {
  border-radius: $rounded;

  &::before {
    border-radius: 2px;
  }
}
