/* ----------------------------------------*\
  ICON
\*---------------------------------------- */

.icon {
  width: size(5);
  height: size(5);
}

.icon--sm {
  width: size(4);
  height: size(4);
}

.icon--lg {
  width: size(6);
  height: size(6);
}
