/* ----------------------------------------*\
  ICON
\*---------------------------------------- */

.icon {
  width: var(--space-5);
  height: var(--space-5);
}

.icon--small {
  width: var(--space-4);
  height: var(--space-4);
}

.icon--large {
  width: var(--space-6);
  height: var(--space-6);
}
