/* ----------------------------------------*\
  SITE HEADER
\*---------------------------------------- */

.site-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $color-white;
  background-color: $color-primary;
}

.site-header__title {
  margin: 0;
  font-size: 1.4rem;
}
