/* ----------------------------------------*\
  SITE HEADER
\*---------------------------------------- */

.site-header {
  padding-top: size(6);
  padding-bottom: size(6);
  color: $color-white;
  background-color: $color-primary;
}

.site-header__title {
  margin: 0;
  font-size: 1.4rem;
}
