/* ----------------------------------------*\
  SITE HEADER
\*---------------------------------------- */

.site-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $color-white;
  background-color: $color-primary;
}

.site-header__title {
  font-size: 1.4rem;
}
