/* ----------------------------------------*\
  Text label
\*---------------------------------------- */

.text-label,
%text-label {
  display: block;
  padding-bottom: $space-1;
  font-weight: $font-bold;
}
