/* ----------------------------------------*\
  Text label
\*---------------------------------------- */

.text-label {
  display: block;
  padding-bottom: var(--space-1);
  font-weight: $font-bold;
}
